@import url('https://fonts.googleapis.com/css?family=Questrial');


html, body{
	  background-image: url(../media/bg2.jpg);
	  background-position: center top;
    background-size: auto;
    background-repeat:repeat;

		font-family: 'Questrial', sans-serif;
		font-size: 1.1em;
}
