@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import url('https://fonts.googleapis.com/css?family=Comfortaa');


html, body{
	  background-image: url(../media/bg.png);
	  background-position: center top;
    background-size: auto;
    background-repeat:repeat;

		font-family: Comfortaa, serif;
}
